<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @applied_line.code %>
</p>

<%= link_to 'Edit', edit_applied_line_path(@applied_line) %> |
<%= link_to 'Back', applied_lines_path %>
